.mainContent {

  padding: 20px;
  overflow-y: auto;
  
}
.head {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  /* padding: 0; */
}

.subhead{
  color: #000000;
  font-weight: 600;
  font-size: 24px;
  margin: 0;
  padding: 0;
}
.subtext{
  color: #6B8B88;
  font-size: 14px;
}
.row,.row1 {
  display: flex;
  align-items: center;
  width: 100%;
  /* gap: 20px; */
  margin: 20px 0;
}

.routes{
  width: 100%;
  height: auto;
}

.row1,.row{
  gap: 2%;
}
.summaryOverview {
  flex: 0 0 39%;
}

.listOfOpportunities {
  flex: 0 0 59%;
}

.financeInformation{
  flex: 0 0 39%;
}

.upcomminginfo{
  flex: 0 0 59%;
}


.savebutton {
  background-color: #3FA749;
  font-size: 18px;
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-weight: 600;
}
