.container {
    padding: 20px;
  }
  
  .heading {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .historyDiv {
    padding: 20px;
    background-color: #F4F6F6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .innerDiv {
    padding: 10px;
    background-color: #2196F3;
    border-radius: 5px;
 
  }
  
  .innerText {
    font-size: 14px;
    color: white;
    font-weight: 500;
  }
  
  .actionDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .actionText {
    font-size: 12px;
    color: #000000;
    font-weight: 500;
  }
  
  .actionButton,.statusButton {
    /* padding: 10px 20px; */
    font-size: 10px;
    background-color: #3e3e3e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  

  .statusButton{
    background-color: #45a049;
  }
  .actionButton:hover {
    background-color: #45a049;
  }
  