.manage {
  width: 840px;
  height: 300px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: black;
  overflow: hidden;
  overflow-y: auto;
  background: #CCCCFF;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  color: black;
}
.controls {
  display: flex;
  align-items: center;
}

.dropdown {
  margin-right: 10px;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #ccc;
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
  background-color: inherit;
}

.dateSelector {
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #ccc;
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
  background-color: inherit;
}

.dataTable {
  width: 100%;
  border-collapse: collapse;
 
}

.dataTable th,
.dataTable td {
  padding: 8px;
  text-align: left;
}

.dataTable th {
  border: 2px solid rgba(0, 0, 0, 0.121); /* Line at the bottom of th */
  color: rgb(0, 0, 0);
}

.dataTable td {
  border: 1px solid rgba(0, 0, 0, 0.121);; /* Line separating each td */
}



.dataTable td:hover {
  background-color: #b6b6fc;
}
