.carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: inherit;
    height: inherit;
    background-color: white;
    /* padding: 10px 0; */
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
  }
  
  .previewLeftContainer,.previewRightContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px; 
    background-color: #c4cec4;
   
    
  }
  
  .pageLeftPreview,.pageRightPreview {
    position: relative;
    width: 100%;
    height: calc(90vh - 120px);
    text-align: center;
    background-color: #c4cec4;
    min-width: 40px;
  
  }
  
  .pageLeftPreview,.previewLeftContainer{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .pageRightPreview,.previewRightContainer{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .button {
    position: absolute;
    top: 50%;
       left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c4cec4;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1;
  }
  

  .arrow {
    font-size: 1rem;
  }
  
  .page {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2rem;
  }
  
  .currentPage {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    width: 100%;
    height: calc(90vh - 120px); 
    font-weight: bold;
    background-color: #dce6fe;
    color: #333;
    text-align: center;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box; 
  }
  

  @media (max-width: 1200px) {
    .currentPage {
      width: 85%; 
      height: calc(80vh - 120px); 
      font-size: 1.5rem;
    }
  }
  
  @media (max-width: 768px) {
    .currentPage {
      width: 95%; 
      height: calc(70vh - 100px); 
      font-size: 1.2rem;
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .currentPage {
      width: 100%; 
      height: calc(60vh - 80px); 
      font-size: 1rem; 
      padding: 5px;
    }
  }
  
  